.player-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.player-card {
    width: 200px;
    margin: 10px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 25px;
    text-align: center;
    color: white;
}

.player-card:hover {
    width: 200px;
    margin: 5px;
    padding: 1px;
    border: 5px solid #ccc;
    border-radius: 25px;
    text-align: center;
    color: white;
}

.player-card img {
    width: 100%;
    height: 80%;
    border-radius: 25px;
    object-fit: cover;
}

.player-card h3 {
    margin-top: 10px;
}

.player-card p {
    margin-bottom: 10px;
}

body {

    display: grid;
    flex-wrap: wrap;
    background-image: url('imagem.jpg');
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    background-color: rgb(33, 31, 32);
    background-size: contain;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }


h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.player-details {
    color: white;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.player-details img{
    border-radius: 25px;
    border: 1px solid #ccc;
}

#btn-voltar {
    top: 10px;
    left: 10px;
    color: white;
    background:none;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
   
}

#btn-voltar:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .player-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .player-card {
        width: 100%;
    }
}

/* Mídia Query para dispositivos de até 480px */
@media (max-width: 480px) {
    .player-list {
        grid-template-columns: 1fr;
    }
}