.container {
  display: flex;
  flex-wrap: wrap;
}

.container .jogador {
  width: 200px; /* Ajuste a largura conforme necessário */
  margin: 0.5em;
}

.container .jogador img {
  max-width: 100%;
  height: auto;
}

.ampliar-imagem {
  transform: scale(1.2); /* Define o fator de escala para ampliar a imagem */
}

.caixa-texto {
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  z-index: 999;
}





/* Estilos para a página de detalhes */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

/* Estilos para a página principal */
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
    max-width: 1200px;
    margin: 0 auto;
  }
}
